{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-10">
                <h2>
                    Dodawanie kursu
                </h2>
            </div>
        </div>

        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Dodawanie kursu</a>
                </li>
            </ol>
        </div>

        <p>Unikalny kod kursu jest tworzony automatycznie</p>

        {{ form_start(form) }}
        {{ form_label(form.courseName) }}
        {{ form_widget(form.courseName) }}
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject) }}
        {{ form_label(form.totalLessons) }}
        {{ form_widget(form.totalLessons, {'type':'number'}) }}
        {{ form_label(form.teacherRate) }}
        {{ form_widget(form.teacherRate, {'type':'number'}) }}
        {{ form_label(form.teacherId) }}
        {{ form_widget(form.teacherId) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}

    </div>

{% endblock %}