<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iSJO - Szkoła językowae</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/sb-admin.css') }}"/>
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>


    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/blog-home.css') }}"/>

</head>

<body>

<div id="wrapper">


    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">iSJO</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                            class="fa fa-user"></i> {{ app.user.name }} <b
                            class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profil</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Wyloguj się</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                {% if is_granted("ROLE_SCHOOL") %}
                    <li>
                        <a href="{{ path('index_school') }}"><i class="fa fa-fw fa-dashboard"></i> Podsumowanie</a>
                    </li>
                    <li>
                        <a href="{{ path('show_teachers') }}"><i class="fa fa-fw fa-user-circle"></i> Nauczyciele</a>
                    </li>
                    <li>
                        <a href="{{ path('show_courses') }}"><i class="fa fa-fw fa-table"></i> Kursy</a>
                    </li>
                    <li><!-- Link with dropdown items -->
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-fw fa-edit"></i>Rozliczenia</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="{{ path('school_settlement_date')}}"><i class="fa fa-fw fa-edit"></i>Rozliczenie nauczyciela</a></li>
                        <li><a href="{{ path('overview_settlement_date') }}"><i class="fa fa-fw fa-edit"></i>Zestawienie zbiorcze</a></li>
                    </ul>

                {% else %}
                    <li>
                        <a href="{{ path('index_teacher') }}"><i class="fa fa-fw fa-dashboard"></i> Podsumowanie</a>
                    </li>
                    <li>
                        <a href="{{ path('show_teacher_courses') }}"><i class="fa fa-fw fa-table"></i> Moje kursy</a>
                    </li>
                    <li>
                        <a href="{{ path('add_teacher_lesson') }}"><i class="fa fa-fw fa-table"></i> Dodaj lekcje</a>
                    </li>
                    <li>
                        <a href="{{  path('teacher_settlement_date') }}"><i class="fa fa-fw fa-edit"></i> Rozliczenia</a>
                    </li>
                {% endif %}


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid min-height">

            {% block body %}

            {% endblock %}

        </div>

    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">&copy; iSJO by Daniel Plewinski</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>

<!-- /#page-wrapper -->


{#<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">#}
{#<a class="navbar-brand" href="/">iSJO</a>#}
{#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"#}
{#aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">#}
{#<span class="navbar-toggler-icon"></span>#}
{#</button>#}

{#<div class="collapse navbar-collapse" id="navbarsExampleDefault">#}
{#<ul class="navbar-nav mr-auto">#}
{#<li class="nav-item active">#}
{#<a class="nav-link" href="/">Start <span class="sr-only">(current)</span></a>#}
{#</li>#}
{#{% if is_granted("ROLE_SCHOOL") %}#}
{#<li class="nav-item active"><a class="nav-link" href="{{ path('show_teachers') }}">Nauczyciele</a></li>#}
{#<li class="nav-item active"><a class="nav-link" href="#">Grupy</a></li>#}
{#<li class="nav-item active"><a class="nav-link" href="#">Rozliczenia</a></li>#}
{#<li class="nav-item active"><a class="nav-link" href="/logout">Wyloguj się</a></li>#}
{#{% else %}#}
{#<li class="nav-item active"><a href="/register">Zarejestruj się</a></li>#}
{#{% endif %}#}
{#</ul>#}
{#</div>#}
{#</nav>#}

{% block javascripts %}
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/extra.js') }}"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
{% endblock %}

</body>
</html>

