{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-10">
                <h2>
                    Lista kursów
                </h2>
            </div>
            <div class="col-md-2">

                <h2><a href="{{ path('add_course') }}">
                        <button type="button" class="btn btn-info">Dodaj kurs</button>
                    </a></h2>

            </div>
        </div>

        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="index.html">Podsumowanie</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Lista kursów
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead">
                <tr>
                    <th>L.p.</th>
                    <th>Nazwa kursu</th>
                    <th>Kod</th>
                    <th>Lekcji</th>
                    <th class="hidden-xs hidden-sm">Przedmiot</th>
                    <th>Nauczyciel</th>

                    <th></th>
                    <th class="hidden-xs hidden-sm"></th>
                </tr>
                </thead>
                <tbody>

                {% for element in pagination %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ element.courseName }}</td>
                        <td>{{ element.id }}</td>
                        <td>{{ element.totalLessons }}</td>
                        <td class="hidden-xs hidden-sm">{{ element.subject }}</td>
                        <td>{{ attribute(teacherAr, element.teacherId) }}</td>
                        <td><a href=" {{ path('shows_school_lessons', {'id':  element.id }) }}">
                                <button type="button" class="btn btn-info">Lekcje</button>
                            </a></td>
                        <td class="hidden-xs hidden-sm"><a href=" {{ path('edit_course', {'id':  element.id }) }}">
                                <button type="button" class="btn btn-warning">Edycja</button>
                            </a></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}