{% extends 'base.html.twig' %}


{% block body %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2>
                    Lista nauczycieli
                </h2>

                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> <a href="index.html">Podsumowanie</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Lista nauczycieli
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead class="thead">
                    <tr>
                        <th>L.p.</th>
                        <th>Nazwisko i imię</th>
                        <th>Dodaj grupę</th>
                        <th>Edycja</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in teachers %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ element.name }}</td>
                            <td><a href=" {{ path('show_teachers') }}show/{{ element.id }}">
                                    <button type="button" class="btn btn-info">Dodaj grupę</button>
                                </a></td>
                            <td><a href=" {{ path('show_teachers', {'id':  element.id }) }}">
                                    <button type="button" class="btn btn-warning">Edycja</button>
                                </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p><p>Lorem ipsum dolor sit amet tellus dolor massa sit amet leo. In hac habitasse platea dictumst. Quisque
                    cursus quis, auctor vel, velit. Aliquam tellus tortor, pretium magna. Curabitur et ultrices urna, id
                    nulla erat dictum vel, dapibus vitae, ullamcorper id, nunc. Vivamus ut tellus et magnis dis
                    parturient montes, nascetur ridiculus mus. Nunc mollis, metus. Curabitur et malesuada vitae, commodo
                    turpis et ligula. Duis vulputate lectus. Sed lobortis vitae, egestas turpis. Fusce venenatis nulla.
                    Morbi tincidunt. Nullam in faucibus quis, venenatis lorem nec quam. Sed sagittis, nunc neque,
                    blandit egestas risus sit amet interdum euismod id, porttitor interdum. Proin imperdiet sapien.
                    Maecenas tortor et netus et lorem. Sed tempus tellus. Vestibulum ante sodales lectus est sit amet,
                    tempor eros in volutpat ultricies porta tellus rutrum vel, purus. Integer adipiscing. Vestibulum
                    ante ipsum primis in tortor massa lacinia eget, tortor. Nullam aliquet. Morbi tellus nec diam ut
                    augue. Pellentesque nunc commodo et, justo. Sed malesuada fames ac turpis egestas. Integer lacinia
                    lacus. Sed pharetra. Cras nec massa. Nam consectetuer adipiscing wisi. Morbi hendrerit. Maecenas
                    pellentesque vel, metus. Donec dolor magna, fermentum.</p>
            </div>
        </div>
    </div>


{% endblock %}